/* css */

header, p {
    text-align: center;
}

.selection-content {
    display: flex;
    flex-direction: column;
}

.selection-btn {
    height: 32px;
    border: none;
    border-radius: 8px;
}

.purple-color {
    background-color: purple;
}

.violet-color {
    background-color: violet;
}

.luas-segitiga-header {
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0px;
    background: #6A9C89;
}

.luas-segitiga-content {
    display: flex;
    flex-direction: column;
}

.luas-segitiga-img {
    height: 300px;
    width: 300px;
    border: 1px solid;
    background-image: url(https://asset-a.grid.id//crop/0x0:0x0/700x0/photo/2021/01/15/3991804788.jpg);
    background-size: cover;
    background-position: center;
    align-self: center;
}

.form {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}

.form input {
    width: 60%;
}

input[type=number] {
    padding: 12px 20;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
}

.main-content {
    display: flex;
}
.main-content aside {
    flex: 1;
    border: 2px solid #6A9C89;
}

.main-content button {
    margin-left: 280px;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.main-content button:hover {
    background-color: #6A9C89;
    color: white;
}